<% include partials/header %>
<% include partials/navbar1 %>
 <div class="container-fluid px-4">
    <h3><%= title %></h3>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Subject</th>
            <% if (!locals.page) { %>
            <th>Section</th>
            <% } %> 
        </tr>
    </thead>
    <tbody>
        <% rows.forEach(function(row){ %>
            <tr>

                <td>
                    <% date = new Date( row.upload_date);
                       date.setHours(date.getHours() + 5, date.getMinutes() + 30);
                       formattedDate = `${date.getFullYear()}-${date.getMonth() + 1}-${ date.getDate()}`; 
                     %>
                    <%= formattedDate  %>
                </td>
                <td>
                    <a href="<%= row.letterlink%>" target="_blank">
                        <%= row.subject%>
                    </a>
                </td>
                <% if (!locals.page) { %>
                <td>
                    <a href="section/<%=row.uploadSection%>" target="_blank" >
                        <%= row.uploadSection %>
                    </a>
                    
                </td>
                <% } %> 
            </tr>
            <%})%>
    </tbody>
    
</table>

</div>
<% include partials/footerscripts %>
<script>
   $(document).ready(function () {
       $('#example').DataTable({
        order: [[0, 'desc']],        
        "iDisplayLength" : 20,
        lengthMenu: [
            [20, 40, 50, -1],
            [20, 40, 50, 'All']
        ]
       });
   });
</script>
<% include partials/footer %>
